Repository bedita/github-workflows, pull requests merged in 2023-09, with the labels that each got.

#20 Fix unit name and job
  .github/workflows/python-unit.yml
Labels: enhancement, release:patch

#21 Update version in TOML config file
  .github/workflows/release.yml
Labels: release:minor

#18 Update package.json version
  .github/workflows/release.yml
  README.md
Labels: enhancement, release:patch

#23 Package json version only when file exists and `package_json_version` is passed
  .github/workflows/release.yml
Labels: bug, release:patch
